@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(187, 230, 240);
    text-align: center;
    
    }

.wrapper {
    width: 1280px;
    margin: 30px auto;
    justify-content: center;
   
}

